<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jehollan-premdemoconsumption.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourcegroups/jehollan-premiumplan/providers/Microsoft.Web/sites/jehollan-premdemoConsumption</ResourceId>
    <UserName>$jehollan-premdemoConsumption</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jehollan-premdemoconsumption.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>